body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: lightyellow;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Chilanka', cursive;
}

header h1{
	color: darkslateblue;
	font-size: 50px;
}

header img{
	border-radius: 200px;
	width: 300px; 
	height: 300px;
	border: 20px solid gold;
}

main{
	max-width: 800px;
	margin: 0 auto;
	text-align: center; 
	padding: 20px;

}
main img{
	max-width: 100%;
}
h2{
	font-size: 35px;
	color: seagreen;
	margin: 40px 0px 0px 10px;
}

a{
	color: seagreen;
}
a:hover{
	background-color: purple;
	color: white;
}
footer{
	background-color: lightyellow;
	text-align: center;
	color: darkslateblue;
	margin: 0;
	padding: 50px;
}

p.caption{
	color: lightgrey;
	font-style: italic;
	margin-top: 0;
}